---
layout: default
title: Github Pages HTML5 Boilerplate
---

This is a boilerplate for use in <a href="http://pages.github.com/">Github Pages</a>.
Octocat icon from <a href="http://designmoo.com/3466/github-icons/">designmoo</a>.

<h1>Instructions</h1>
<ol>
 <li>edit <code>_config.yml</code>
 <li>edit <code>index.html</code>
 <li>edit <code>_includes/style.css</code>
</ol>
<h1>Blog Posts and Changes</h1>

<ul>
{% for post in site.posts %}
  <li><a href="{{post.url}}">{{post.title}}</a>
{% endfor %}
</ul>
{% for post in paginator.posts %}
{% include post.html %}
{% endfor %}
<footer class="pagination">
{% if paginator.previous_page == 1 %}
  <a href="{{ site.url }}/blog" rel="prev start" class="previous">Newer</a>
{% elsif paginator.previous_page %}
  <a href="{{ site.url }}/page{{paginator.previous_page}}" rel="prev" class="previous">Newer</a>
{% else %}
  <span class="previous">Newer</span>
{% endif %}
<span class="page-number">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
{% if paginator.next_page %}
  <a href="{{ site.url }}/page{{paginator.next_page}}" rel="next" class="next">Older</a>
{% else %}
  <span class="next">Older</span>
{% endif %}
</footer>
