/* This is where all custom styles go.*/
#site_header li {
	display: inline;
}
#site_header nav img {
	height: 22px;
	width: 22px;
}
.post header li, .post header nav, .post header nav ul {
	display: inline;
}
