/* This is where all custom styles go.*/
{% include text.css %}
#site_header hgroup, #site_footer {
	background: #AAA;
}
#site_header, footer.pagination {
	background: #CCC;
}
#site_header h1, #site_header h2 {
	display: inline;
}
#site_header li, #site_header ul, .post header li, .post header nav ul {
	display: inline;
	margin: 0;
	list-style:none;
	list-style-image: none;
}
#site_header ul img {
	height: 22px;
	width: 22px;
	vertical-align: middle;
}
footer.pagination {
	margin-left: 0px;
	text-align: center;
}
footer.pagination .previous {
	float: left;
}
footer.pagination .next {
	float: right;
}
section, article {
	margin-left: 1em;
}
