<!doctype html>
{% comment %}
  http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
{% endcomment %}
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  {% comment %}
    Always force latest IE rendering engine (even in intranet) & Chrome Frame
  {% endcomment %}
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <title>{{page.title}} - {{site.title}}</title>
  <meta name="description" content="{%if page.description%}{{page.description}}{%else%}{{site.description}}{%endif%}">
  <meta name="keywords" content="{%if page.categories%}{{page.categories|join:','}}{%else%}{{site.keywords|join:','}}{%endif%}">
  <meta name="author" content="{%if page.author%}{{page.author}}{%else%}{{site.author.name}}{%endif%}">
  {% comment %}
    Mobile viewport optimized: http://j.mp/bplateviewport
  {% endcomment %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="alternate" type="application/atom+xml" title="Blog Atom Feed" href="{{ site.url }}/atom.xml">
  <link rel="alternate" type="application/atom+xml" title="Site Changes Atom Feed" href="https://github.com/{{site.author.gh.user}}/{{site.author.gh.repo}}/commits/gh-pages.atom">
  <link rel="alternate" type="application/x-wiki" title="Edit this page on Github." href="{% include edit.url %}">{% comment %}http://universaleditbutton.org{% endcomment %}
  <link rel="stylesheet" href="{{ site.url }}/css/style.css?v=1">{% comment %}CSS: implied media="all"{% endcomment %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.4/modernizr.min.js">{% comment %}
    All JavaScript at the bottom, except for Modernizr which enables HTML5
    elements & feature detects
  {% endcomment %}</script>
</head>
<body>
{{ content }}
</body>
</html>
